@inject ISettingsService SettingsService
@implements IDisposable

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">@appTitle</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <div class="profile">
        <div class="profile-bg">
            <img class="img-responsive" src="images/profile2.png" />
        </div>
        <div class="profile-picture">
            <img class="img-responsive circle account-photo" src="@settings.UserPictureUrl" />
        </div>
    </div>

    <BrowserStatusIndicator></BrowserStatusIndicator>

    <div><br /></div>
    <ul class="nav flex-column" style="margin-top: 180px">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="oi oi-plus" aria-hidden="true"></span> Settings
            </NavLink>
        </li>

    </ul>

</div>



@code {



    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private string appTitle = "Latihan Blazor";
    private Setting settings;
    protected override void OnInitialized()
    {
        SettingsService.SettingsChanged += SettingsChanged;
        settings = SettingsService.Setting;
        appTitle = settings.AppTitle;
    }
    public void Dispose()
    {
        SettingsService.SettingsChanged -= SettingsChanged;
    }
    private void SettingsChanged(object sender, SettingsChangedEventArgs e)
    {
        this.settings = e.Setting;
        appTitle = settings.AppTitle;
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
}
